<div class="container">
    <div class="intro text-content">
        <h1>T-Rex Dinossauro Cromado</h1>
        <div>
            <p>T-Rex Dinosaur (O Jogo Google Dino) - uma réplica de um jogo oculto no navegador Chrome quando não há
                Internet. Pressione a barra de espaço para começar. Salte o dinossauro usando a barra de espaço ou as
                setas
                para cima e para baixo (↓) para se abaixar.</p>
        </div>
    </div>
    <div id="game"></div>
</div>
<script src="js/game.js"></script>